BraveSoftware/
/btop/
/cava/
/Code/
/dconf/
/discord/
/Electron/
/github-copilot/
/go/
/gtk-3.0/
/Kingsoft/
/kitty/
/menus/
/mozilla/
/nautilus/
/obs-studio/
/pulse/
/spotify/
/spicetify/
/systemd/
/vlc/
/yay/
/zen/
kwalletrc
kdeglobals
mimeapps.list
pavucontrol.ini